
  <div class="forms">
    
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <div class="col-md-3">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
   </div>

  <div class="col-md-3">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="col-md-3">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>  

 <div class="col-md-3">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="col-md-3">
    <%= form.label :remember_me, class: "checkbox-inline" do %>
    <%= form.check_box :remember_me %>
    <span>Remember me on this computer</span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Sign Up", class: 'btn-btn-primary' %>
  </div>
<% end %>

<p> Not new here? <%= link_to 'Log in', login_path %></p>
</div>
</div>