<div class="center jumbotron">
<div class="header">
<div class=col-md-4>
<h3><strong>Log In as Admin</strong></h3></div>

<%= form_for(:session, url: admins_login_path) do |f| %>

<div class="field">
<div class="col-md-3">

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %> 

<%= f.label :password %> 
<%= f.password_field :password, class: 'form-control' %> 

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>
<div class="actions">
<%= f.submit "Log in", class: 'btn-btn-primary', controller: "admins/sessions", method: :post %>
</div>
<% end %>
</div>
</div>
</div>

<p> Or: <%= link_to 'Sign Up', new_admin_path, class: 'panel' %></p>
</div>