<!DOCTYPE html>
<html>
  <head>
       <title><%= provide_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
      <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
        <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome and Pixeden Icon Stroke icon fonts-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- lightbox-->
    <link rel="stylesheet" href="css/lightbox.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
<link rel="shortcut icon" href="favicon.png">
    <!-- Jquery-->
   <%= javascript_include_tag('jquery.js') %>
  <%= javascript_include_tag('jquery.min.js') %>
  <%= javascript_include_tag('bootstrap.js') %>
  <%= javascript_include_tag('jquery_ujs.js') %>
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header"><a href="<%= home_path %>" class="navbar-brand">Rakenotes</a>
            <div class="navbar-buttons">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
            </div>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li class="nav-item active">
                <a href="<%= home_path %>">Home</a>
              </li>
              <li class="nav-item">
                <a href="<%= about_path %>">Text page</a>
              </li>
            
               <li class="nav-item">
                <a href="<%= literature_path %>">Source List</a>
              </li>
              
              <li class="nav-item-dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Account <b class="caret"></b></a>
                <div class="dropdown-menu">
                <% if !signed_in? %>
                 <a class="dropdown-item" href="<%= new_user_path %>">Register</a>
                 <a class="dropdown-item" href="<%= login_path %>">Log in</a>
                <% else %>
                 <a class="dropdown-item" href="<%= link_to 'Log out', logout_path, method: :delete %>"></a>
                 <a class="dropdown-item" href="<%= current_user %>">Profile</a>
                 <a class="dropdown-item" href="#">Settings</a>
                <% end %>
               </div>
            </li>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
